html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
h2{
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
    font-size: 2em;
}
a{
    text-decoration: none;
    color: black;
}
/* ************************NAVBAR**************** */
nav{
    overflow: hidden;
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header li{
    float: right;
    font-size: 1.2em;
}
header li a{
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 16px;
}
#logo{
    font-weight: bold;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
/* ****************************image principale************ */
#imageprincipale{
    padding-top: 60px; 
    background: url(media/solution2.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 110px;
}
#premiertrait {
height: 1px;
width: 25%;
margin: -3px auto;
background-color: beige;
}
h3{}